.dark-border {
    border-width: 15px;
    border-color: rgb(24, 24, 24);
    border-style: ridge;
}
.white-text {
    color: white;
}
.medium-gray-background {
    background-color: #585858
}
.injected-text {
    text-align: left;
}
.box {
    border-width: 15px;
    border-color: rgb(24, 24, 24);
    border-style: ridge;
    text-align: left;
    margin-right: 25%;
    margin-left: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.clear-box {
    border-color: clear;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}
.clear-box-left {
    border-color: clear;
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
}
.larger-image {
    width: 600px;
}
.smaller-image {
    width: 300px;
}
.border {
    border-width: 10px;
    border-color: black;
    border-style: solid;
    border-radius: 50%;
}
h1 {
    font-size: 35px;
}
p {
    font-size: 20px;
}
h2 {
    color: white;
}
a {
    color: white;
}
.red-text {
    color: #ff0000;
}
ol,
ul,
li {
    font-size: 20px;
}
body {
    font-family: Arial;
    background-color: black;
    color: white;
}
main {
    text-align: center;
}